RewriteEngine On

# If the request is not for an existing file or directory...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...serve index.html instead, so React Router can handle the route.
RewriteRule ^ index.html [QSA,L]